body {
    text-align: center;
  }
  
  h1 {
    margin: 20px;
  }
  
  #gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 60vw;
    margin: 0 auto;
  }
  
  #gameBoard img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    cursor: pointer;
  }
  